<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <style>

  </style>
</head>
<body>

<div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
     style="height:auto !important;width:100% !important; font-family: Helvetica,Arial,sans-serif !important;">
  <div class="justify-content-center d-flex">
    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
           style="width:100% !important; background-color:#ffffff;border:1px solid #e4e2e2;border-collapse:separate !important; border-radius:10px;border-spacing:0;color:#242128; margin:0;padding:40px;"
           heigth="auto">
      <tbody>
      <tr>
        <td align="left" valign="center"
            style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
        <b>MONITOR DZ</b>
        </td>
        <td align="right" valign="center"
            style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
          <span style="color: #8f8f8f; font-weight: normal; line-height: 2; font-size: 14px;"><%= Date.today.strftime("%d/%m/%Y") %></span>
        </td>
      </tr>
      <tr>
        <td colSpan="2" style="padding-top:10px; border-top:3px solid #e4e2e2">
          <table>
            <tr>
              <td colSpan="2" style="padding-bottom:20px;">
                <h3 style="color:#303030; font-size:18px; line-height: 1.6; font-weight:500;">Bonjour <%= @user.name %> </h3>
                <p
                  style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4; margin-bottom:0;">
                  Voici ce qui se dit sur tout les media par rapport a vos tags :
                  <%# @tags.each do |tag| %>
                   <%= @tags.join(' - ') %>
                  <%# end %>
                </p>
              </td>
            </tr>

            <% @articles.each do |article| %>
          <% if article.language == 'fr' %>
            <tr>
              <td style="padding-top:0px; padding-bottom:20px; width:140px; ">
                <%= image_tag article.url_image != nil ? article.url_image : 'https://www.nicomatic.com/themes/custom/jango_sub/img/no-image.png' , style:"width: 113px; height: 85px; object-fit: cover; border-radius: 3px;" %>
              </td>
              <td style="padding-top:0px; padding-bottom:20px;">
                <h4 style="font-size: 16px; line-height: 1; margin-bottom:20px;">
                 <a href="#" style="text-decoration: none; color:#303030; font-weight:500;"><%=article.title %></a>
                </h4>
                <p style="font-size: 12px; line-height: 1; color:brown; margin-top:5px;">
                 TAGS :  <%= article.tags.map(&:name).uniq.join(' - ')  %>

                </p>
                <p href="#"
                   style="font-size: 12px; text-decoration: none; line-height: 1; color:#0d1590; margin-top:0px; margin-bottom:0;">
                  <%= article.medium.name %></p>
                <p style="font-size: 12px; line-height: 1; color:#909090; margin-top:5px;"><%= article.author.name %></p>
              </td>
              <td style="padding-top:0px; padding-bottom:20px; text-align: right;">
                <p
                  style="font-size: 13px; line-height: 1; color:#00365a;  margin-top:5px; vertical-align:top; white-space:nowrap;">
                  <%= link_to "Lire l'article", 'http://161.97.114.39/app/articles/details?id=' + article.id.to_s %>

                </p>
              </td>
            </tr>
                <tr>
                  <td colSpan="3" style="border-top:1px solid #e4e2e2;">&nbsp;</td>
                </tr>
              <% end %>


          <% if article.language == 'ar' %>
                <tr>



                  <td style="padding-top:0px; padding-bottom:20px; text-align: left;">
                    <p
                      style="font-size: 13px; line-height: 1; color:#00365a;  margin-top:5px; vertical-align:top; white-space:nowrap;">
                      <%= link_to "اقرأ المقال", 'http://161.97.114.39/app/articles/details?id=' + article.id.to_s %>

                    </p>
                  </td>
                  <td style="padding-top:0px; padding-bottom:20px;">
                    <h4 style="font-size: 16px; line-height: 1; margin-bottom:20px;direction: rtl;">
                      <a href="#" style="text-decoration: none; color:#303030; font-weight:500;direction: rtl;"><%=article.title %></a>
                    </h4>


                    <p style="font-size: 12px; line-height: 1; color:brown; margin-top:5px;direction: rtl;">
                      الكلمات الدالة :  <%= article.tags.map(&:name).uniq.join(' - ')  %>
                    </p>

                    <p href="#"
                       style="font-size: 12px; text-decoration: none; line-height: 1; color:#0d1590; margin-top:0px; margin-bottom:0;direction: rtl;">
                      <%= article.medium.name %></p>
                    <p style="font-size: 12px; line-height: 1; color:#909090; margin-top:5px;direction: rtl;"><%= article.author.name %></p>
                  </td>

                  <td style="padding-top:0px; padding-bottom:20px; padding-left: 28px;">
                    <%= image_tag article.url_image != nil ? article.url_image : 'https://www.nicomatic.com/themes/custom/jango_sub/img/no-image.png', style:"width: 113px; height: 85px; object-fit: cover; border-radius: 3px;" %>
                  </td>


                </tr>
                <tr>
                  <td colSpan="3" style="border-top:1px solid #e4e2e2;direction: rtl;">&nbsp;</td>
                </tr>
              <% end %>


           <% end %>

          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="justify-content-center d-flex">
    <table style="margin-top:30px; padding-bottom:20px; margin-bottom: 40px;">
      <tbody>
      <tr>
        <td align="center" valign="center">
          <p
            style="font-size: 12px; text-decoration: none;line-height: 1; color:#909090; margin-top:0px; margin-bottom:5px; ">
            Si vous avez le moindre souci avec l'accès ou autres types de problèmes, merci de nous écrire sur ce mail :
            nouaraseifeddine@gmail.com
          </p>
          <p style="font-size: 12px; line-height:1; color:#909090;  margin-top:5px; margin-bottom:5px;">
            <a href="#" style="color: #00365a; text-decoration:none;">Alger, ALGERIE</a>
            | <a href="#" style="color: #00365a; text-decoration:none;">0664475820</a>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>
</html>